.header{
    background-color: rgb(136, 184, 136);
}

.header h1{
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
}

.header p{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

#image-of-self{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#contact-info p{
    text-align: left;
    font-size: larger;
}

#about-me p{
    font-size: larger;
}

.card{
    margin: 1.25rem;
    padding: 1.75rem;
    max-width: 100%;
}

.card-body{
    max-width: 100%;
}

.card-title{
    font-size: 2.0rem;
}

.card-text{
    font-size: 1.5rem;
}

.btn-primary{
    color: black;
    background-color: rgb(113, 168, 113);
    font-weight: bolder;
    border-color:  rgb(113, 168, 113);
}

.btn-primary:hover{
    background-color:  rgb(54, 85, 54);
    color: white;
    border-color: rgb(54, 85, 54);
}